[submodule "lib/stdlib.agda"]
	path = lib/stdlib.agda
	url = git://github.com/agda/agda-stdlib.git
[submodule "lib/ternary.agda"]
	path = lib/ternary.agda
	url = https://github.com/ajrouvoet/ternary.agda.git
